﻿<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WebSocket Chat</title>
  <link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
  <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="js/kickstart.js"></script>
  <script src="ws.js"></script>
</head>
<body>
  <div class="grid">
    <h1>WebSoket Chat</h1>
  </div>
  <div class="grid">
    <div id="notification">
    </div>
    <div id="message">
    </div>
    <div id="input_form">
      <form id="form">
        <input type="text" name="msg" value="" style="width: 400px;" />
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <script>$(function () {setTimeout(connect, 1000);});</script>
</body>
</html>
